body{
    margin:0;
    overflow-x:hidden;
    background:#000;
    color:#fff;
    font-family:Poppins,sans-serif;
}

.bg-image{
    position:fixed;
    inset:0;

    background:url('./images/vasanth.png') center center;
    background-size:cover;

    z-index:-1;

    transition:all .8s ease;
}

.section{
    min-height:100vh;

    display:flex;
    align-items:center;
    justify-content:center;

    position:relative;

    backdrop-filter:blur(0px);
}

.section .container{
    background:rgba(0,0,0,.3);
    padding:40px;
    border-radius:20px;
}
.bg-image{
    transform:scale(1.08);
}
.section{
    background:linear-gradient(
        to bottom,
        transparent,
        rgba(0,0,0,.25)
    );
}
h1,h2{
    text-shadow:0 0 30px rgba(255,255,255,.4);
}